﻿<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Data.SqlClient" %>
<%@ Page Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage" %>
<script runat="server">
  protected void Page_Load(Object sender, EventArgs e) 
  {

  }

  protected void MyDataGrid_SelectedIndexChanged(object sender, EventArgs e)
  {

  }
</script>
<asp:Content ID="aboutTitle" ContentPlaceHolderID="TitleContent" runat="server">
    О нас
</asp:Content>

<asp:Content ID="aboutContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2>О программе</h2>
    
          &nbsp;<p>
          &nbsp;</p>

        
    <script type="text/javascript">
        $.ajax({
            url: '/Home/GetItem',
            dataType: 'json',
            traditional: true,
            mtype: 'POST',

            success: function (data) {
                document.write('<p>'+data.namecategory+'</p>');
            }
        });




    </script>
 

     

          
          
</asp:Content>









