﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master"  Inherits="System.Web.Mvc.ViewPage<Hotel.Models.Booking>" %>

<script runat="server">

    protected void Button1_Click(object sender, EventArgs e)
    {
        
    }
</script>
<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
	Index    

</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server"> 

<script type="text/javascript">         
  
    $(function () {
        $("#personCreate").click(function () {
            var person = getPerson();
           
            $.ajax({
                type: 'POST',
                url: '/Booking/SimpleObject',
                
                data:person,// json,               

                success: function (person) {  //(data) {                    
                    
                },

                dataType: 'json',
            });                     


        });
    });

    function writeclient()
    {
                 var person2=getPerson2();
                
                 $.ajax({
                          type: 'POST',
                          url: '/Booking/SimpleObject2',
                
                          data:person2,// json,           
                   
                          success: function (person2) {  //(data) {                      
                    
                },

                dataType: 'json'
            });
    }


    function getPerson() {
    var arrivaldate= $("#arrivaldate").val();
    var departuredate= $("#departuredate").val();
    var lastname = $("#lastname").val();
    var firstname = $("#firstname").val();
    var patronomic = $("#patronomic").val();
    var passport = $("#passport").val();
    var city = $("#city").val();
    var address = $("#address").val();
    var phone = $("#phone").val();
    var email = $("#email").val();
    var arm = $("#arm").val();
    var numberguests= $("#numberguests").val();
    

        return {arrivaldate:arrivaldate, departuredate:departuredate, lastname:lastname, firstname: firstname, patronomic:patronomic, passport:passport, city:city, address:address, phone:phone, email:email, arm:arm,numberguests:numberguests };
    }

    function getroom() {
        var arm = $("#arm").val();
        return { arm: arm};
    }



</script>
    
   <!-- <%=Html.EditorForModel() %>-->
    <div>
    <label for="arrivaldate">Дата приезда</label><br/>
    <input class="text-box single-line" id="arrivaldate" name="arrivaldate" type="text" /><button id="f_btn1">...</button> <span id="res"></span><br/>
    <script type="text/javascript">

</script>


    <label for="departuredate">Дата отъезда</label><br/>
    <input class="text-box single-line" id="departuredate" name="departuredate" type="text"  /><button id="f_btn2">...</button><span id="res1"></span><br/>
    <label for="lastname">lastname</label><br/>
    <input class="text-box single-line" id="lastname" name="lastname" type="text"  /><br/>
    <label for="firstname">firstname</label><br/>
    <input class="text-box single-line" id="firstname" name="firstname" type="text"  /><br/>
    <label for="patronomic">patronomyc</label><br/>
    <input class="text-box single-line" id="patronomic" name="patronomic" type="text"  /><br/>
    <label for="passport">passport</label><br/>
    <input class="text-box single-line" id="passport" name="passport" type="text"  /><br/>
    <label for="city">city</label><br/>
    <input class="text-box single-line" id="city" name="city" type="text"  /><br/>
    <label for="address">address</label><br/>
    <input class="text-box single-line" id="address" name="address" type="text"  /><br/>
    <label for="phone">phone</label><br/>
    <input class="text-box single-line" id="phone" name="phone" type="text"  /><br/>
    <label for="email">email</label><br/>
    <input class="text-box single-line" id="email" name="email" type="text"  /><br/>
    <label for="numberguests">numberguests</label><br/>
    <input class="text-box single-line" id="numberguests" name="numberguests" type="text"  /><br/>
   <!-- <label for="arm">arm</label><br/>-->
    <input class="text-box single-line" id="arm" name="arm" value="<%= Request.QueryString["arm"] %>" type="hidden"  /><br/>
    </div>
    <script type="text/javascript">
        Calendar.setup({
            inputField: "arrivaldate",
            trigger: "f_btn1",
            onSelect: function () {
                this.hide();

                var now = new Date();
                var arrivaldate = new Date($("#arrivaldate").val());
                //arrivaldate = $("#arrivaldate").val();
                if(arrivaldate>=now)
                {
                document.getElementById('res').innerHTML = "";                 
                    return;
                }                
                else
                    if (arrivaldate < now) {
                        document.getElementById('res').innerHTML = "  Дата должна быть больше текущей";
                        return;
                    }
             },

            dateFormat: "%Y-%m-%d"
        });

        Calendar.setup({
            inputField: "departuredate",
            trigger: "f_btn2",
            onSelect: function () {
                this.hide();

                var now = new Date($("#arrivaldate").val());
                var departuredate = new Date($("#departuredate").val());

                if (departuredate > now) {
                    document.getElementById('res1').innerHTML = "";
                    return;
                }
                else
                    if (departuredate <= now) {
                        
                        document.getElementById('res1').innerHTML = "  Дата должна быть больше даты приезда";                        
                        return;
                    }          
 
             },

            dateFormat: "%Y-%m-%d"
        });

</script>

    <p>
        <input type="submit" value="Save" id="personCreate" />
    </p>
    <div id="resultMessage">
       
    </div>
    
</asp:Content>
